# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
*.log
media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker volumes
db/data/

# Env files
.env
